{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jeremiah Portfolio</title>
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
</head>
<body>

<nav class="navbar">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'contacts' %}">Contact</a>
    <a href="{% url 'projects' %}">Projects</a>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
